.row
	%h3 Name of this bloocher
	%p= @user.name
	%h3 Positions
	- @user.positions.each do |position|
		%p
		.badge= position
		= link_to position.positionable.name
	%h3 
		Blooches
		.badge.badge-info= @user.reviews.count
	