#myCarousel.carousel.slide.add-shadow.span10.offset1
  / Carousel items
  .carousel-inner
    .active.item
      = image_tag("slide-1.jpg", size: "950x470")
    .item= image_tag("slide-2.jpg", size: "950x470")
    / - 9.times do |n|
    /   .item
    /     = image_tag("slide-#{2 + n}.jpg")
 

    %a.carousel-control.left{"data-slide" => "prev", :href => "#myCarousel"} &lsaquo;
    %a.carousel-control.right{"data-slide" => "next", :href => "#myCarousel"} &rsaquo;