.row
	.span12
		.span6.offset3
			%h1
				About
			%h1
				Team
			%h3
				Fred Schoeneman
			%blockquote
				I built Bloocher because I really enjoy programming stuff.  In January of 2013, I was hanging out with my dog Sam, in the middle of a gorgous vineyard, and thinking about how the wine industry broken.  And so I decided to fix it, by building this website, which you are on right now. Obviously. Duh. Anyways, Bloocher is the single most powerful wine website in the world.  It will change your fucking life.  Join the tidrick.   	