.container
  %h1.page-header
    About
    %span.color-twitter Bloocher
  .row
    %ul.ca-menu.unstyled
      %li.span3
        %a{:href => "#well-coded"}
          %span#heart.ca-icon
            %i.icon-heart
        .ca-content
          %h2.ca-main Wine lovers
          %h3.ca-sub Blooch about the bahlinest fratis
      %li.span3
        %a{:href => "#docs"}
          %span#winemakers.ca-icon 
            %i.icon-beaker
        .ca-content
          %h2.ca-main Winemakers
          %h3.ca-sub Deek about your fratis
      %li.span3
        %a{:href => "#future"}
          %span#vineyardists.ca-icon
            %i.icon-leaf
        .ca-content
          %h2.ca-main Vineyardists
          %h3.ca-sub Deek about your fruit
      %li.span3
        %a{:href => "#artists"}
          %span#picture.ca-icon
            %i.icon-picture 
        .ca-content
          %h2.ca-main Artists & Writers
          %h3.ca-sub Because stories are good
.row
  .showcase-container.demo
    #well-coded.text-wraper
      .text.demo-1
        %h1 Well coded
        %p TRIQ code passed test by W3C Validator Service. Smart class names and properly used tags, withour unnecessary markup makes TRIQ easy to edit. Code is also very well commented.
    %img#code-editor.pull-right{:src => "demo_img/code-editor.png"}/
  .clearfix
.row
  .container
    %hr/
    #docs.row.demo-2
      .span6
        %img{:alt => "Markdown", :src => "markdown.png"}/
      .span6
        %h1 Fully documented
        %p TRIQ is fully documented (Markdown used for creating documentation). That means you will find HTML, PDF and READ.md files in purchased package. Documentation contains code examples, resources added, proper markup and more. Don't ever get confused again!
    %hr/
    %h1#future.centered Future in your browser
    %p.centered Combining HTML5, jQuery plugins and CSS3 techniques, TRIQ brings future to this day.
    %br/
    .ul-centered
      %ul.unstyled.pagination-centered.thumbnails.browsers
        %li
          %img{:alt => "Opera", :src => "demo_img/browser/opera.png"}/
        %li
          %img{:alt => "firefox", :src => "demo_img/browser/firefox.png"}/
        %li
          %img{:alt => "ie", :src => "browser/ie.png"}/
        %li
          %img{:alt => "safari", :src => "demo_img/browser/safari.png"}/
        %li
          %img{:alt => "chrome", :src => "demo_img/browser/chrome.png"}/
    %hr/
    #artists.row.demo-4
      .span4.offset1
        = image_tag("fred.jpg", class: "img-rounded")
      .span6.offset1.testimonials
        %h1 Artists & writers  
        %p If you're an artist or writer with a connection to the Anderson Valley, I'd like to use Bloocher to showcase a few of your photos on the home page, with links to your gallery. And if you're a writer I can publish excerpts of your work and link to wherever people can go if they're thirsty for more. 