.row
  %br
  .small-12.columns
    .darkpanel
      %h1 Privacy Policy 
    .row
      .small-10.small-offset-1.columns
            
        %ol
          %li Unlike your bank, your cable company, politicians, and many charitable organizations, we will never sell, rent, or give away your personal information to a third party without your permission.  
          %li You continue to hold copyright to any content you publish on Bloocher.  
          %li You may delete your account at any time, which should automatically delete any reviews you have created under your account.  Unfortunately we cannot delete all of your other types of content or all content from other bloochers that references your content.  Deleting your account is not reversible.  
          %li Google, Bing, and other third parties index content on bloocher frequently, which may make your content available after crawling Bloocher.  In addition many spammers, the NSA, and other deejers have sophisticated methods of havesting your information in bulk.  
          / %li When you review a wine, as a courtesy to the winery, we assume you would like to share your information with that winery.  The wineries do not pay us (Bloocher) for this.  If we have made this assumption in error, please accept our apology and change this in your settings so we will know to keep it private in future.  