.row
	.container
		%h3 privacy policy
		%ol
			%li When you review a wine, as a courtesty to the winery, we assume you would like to share your email with that winery.  The wineries do not pay us (Bloocher) for this.  If we have made this assumption in error, please accept our apology and change this in your settings so we will know to keep it private in future.  
			%li Unlike your bank, your cable company, and other deegers, we will never sell, rent, or give away your email address to a third party without your permission.  Ever.  
			%li You hold copyright to anything you write.  By publishing content to Bloocher, you granting us license to use your work on Bloocher site, with appropriate attribution.  
			%li Third parties such as Google, Bing, and others may make your content available after crawling Bloocher.  We have no way to block them from doing so on individual accounts.
			%li You may delete your account at any time.  Doing so should remove most of your content as well as any artifacts of your presence in our database; however we make no guarantees that it will remove all of these artifacts.  Deleting your account is not reversible.   