.row
	.container
		%h3 privacy policy
		%ol
			%li Unlike your bank, your cable company, and other deejy jerkwads, we will never sell, rent, or give away your email address to a third party.  Ever.    
			%li We will only ever email you with information about your account.
			%li We will not market to you unless you have specifically opted in to same.
			%li Third parties will not market to you through our site unless you have specifically opted in to same.
			%li You hold copyright to anything you write.  By publishing content to Bloocher, you granting us license to use your work on our site, with proper attribution.  
			%li Third parties such as Google, Bing, and others may make your contenta available after crawling this site.
			%li You may delete your account, and personal information, at any time.  Doing so should remove most of your content as well, however we make no guarantees that it will remove all of it.  This step is irreversible and thus should not be undertaken lightly.