.row
	.container
		%h3 privacy policy
		%ol
			%li Unlike your bank, your cable company, and other deegers, we will never sell, rent, or give away your email address to a third party without your permission.  Ever.    
			%li You hold copyright to anything you write.  By publishing content to Bloocher, you granting us license to use your work on our site, with proper attribution.  
			%li Third parties such as Google, Bing, and others may make your contenta available after crawling this site.
			%li You may delete your account, and personal information, at any time.  Doing so should remove most of your content as well as any artifacts of your content in our database, however we make no guarantees that it will remove all of it.  This step is not reversible.  If it were reversible, we wouldn't really have removed it, now would we? 