.row
	.container
		%h3 terms of use
		%ol
			%li Don't be a dick.
			%li Don't get us in trouble.  
			%li We reserve the right to refuse service to anyone, for any reason, without notice, explanation, or apology.