.row
  %br
  .small-12.columns
    .darkpanel
      %h1 Terms of Use
    .row
      .small-10.small-offset-1.columns
            
        %ol
          %li Don't be a dickhead to any other bloocher.  For example, do not be a dick with your reviews.  
          %li Don't cheat.  
          %li Don't steal.  
          %li We reserve the right to refuse service to anyone, for any reason, without notice, explanation, or apology.