/ !!!
/ %html{:lang => "en"}
/   %head
/     %meta{:charset => "utf-8"}/
/     %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
/     %link{:href => "css/triq.css", :rel => "stylesheet"}/
/     %link{:href => "css/triq-responsive.css", :rel => "stylesheet"}/
/   %body
/     .container
/       %h1.page-header
/         THE
/         %span.color-twitter ABOUT
/         PAGE
/       .row
/         %ul.ca-menu.unstyled
/           %li.span3
/             %a{:href => "#well-coded"}
/               %span.ca-icon H
/             .ca-content
/               %h2.ca-main Well coded
/               %h3.ca-sub Crafted with passion
/           %li.span3.active
/             %a{:href => "#docs"}
/               %span#heart.ca-icon N
/             .ca-content
/               %h2.ca-main Well documented
/               %h3.ca-sub You'll never be confused again
/           %li.span3
/             %a{:href => "#future"}
/               %span.ca-icon V
/             .ca-content
/               %h2.ca-main Future is today
/               %h3.ca-sub HTML5 & CSS3
/           %li.span3
/             %a{:href => "#purchase"}
/               %span.ca-icon L
/             .ca-content
/               %h2.ca-main Purchase
/               %h3.ca-sub What are you waiting for?
/     .showcase-container.demo
/       #well-coded.text-wraper
/         .text.demo-1
/           %h1 Well coded
/           %p TRIQ code passed test by W3C Validator Service. Smart class names and properly used tags, withour unnecessary markup makes TRIQ easy to edit. Code is also very well commented.
/       %img#code-editor.pull-right{:src => "demo_img/code-editor.png"}/
/     .clearfix
/     .container
/       %hr/
/       #docs.row.demo-2
/         .span6
/           %img{:alt => "Markdown", :src => "demo_img/markdown.png"}/
/         .span6
/           %h1 Fully documented
/           %p TRIQ is fully documented (Markdown used for creating documentation). That means you will find HTML, PDF and READ.md files in purchased package. Documentation contains code examples, resources added, proper markup and more. Don't ever get confused again!
/       %hr/
/       %h1#future.centered Future in your browser
/       %p.centered Combining HTML5, jQuery plugins and CSS3 techniques, TRIQ brings future to this day.
/       %br/
/       .ul-centered
/         %ul.unstyled.pagination-centered.thumbnails.browsers
/           %li
/             %img{:alt => "Opera", :src => "demo_img/browser/opera.png"}/
/           %li
/             %img{:alt => "firefox", :src => "demo_img/browser/firefox.png"}/
/           %li
/             %img{:alt => "ie", :src => "demo_img/browser/ie.png"}/
/           %li
/             %img{:alt => "safari", :src => "demo_img/browser/safari.png"}/
/           %li
/             %img{:alt => "chrome", :src => "demo_img/browser/chrome.png"}/
/       %hr/
/       #purchase.row.demo-4
/         .span4
/           %a{:href => "https://wrapbootstrap.com/user/smogg", :target => "_blank"}
/             %i.icon-websymbols{:style => "font-size: 86px;"} R
/         .span8
/           %h1 So what are you waiting for?
/           %p Click on the star to see my profile and buy this template! You will enjoy it, I promise.
/     / Le Footer
/     .background-white.footer
/       .container
/         %p.pull-left This was TRIQ - Awesome bootstrap template.
/         %p.pull-right
/           %a#toplink{:href => "#"} Back to top
/         %ul#footer-nav.nav.visible-phone
/         %hr/
/         %h3.centered Menu
/         %li.active
/           %a{:href => "index.html"} Home
/         %li
/           %a{:href => "about.html"} About
/         %li.dropdown
/           %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
/             Portfolio
/             %b.caret
/           %ul.dropdown-menu
/             %li
/               %a{:href => "portfolio-full-width.html", :title => "Portfolio 1"} Full-width
/             %li
/               %a{:href => "portfolio-thumbnails.html", :title => "Portfolio 2"} Thumbnails
/         %li
/           %a{:href => "blog.html"} Blog
/         %li
/           %a{:href => "contact.html"} Contact
/     /
/       Le javascript
/       \==================================================
/     / Placed at the end of the document so the pages load faster
/     %script{:src => "js/jquery.js"}
/     %script{:src => "js/bootstrap.js"}
/     %script{:src => "js/jquery.scrollto-1.4.3.1-min.js"}
/     %script{:src => "js/jquery.localscroll-1.2.7-min.js"}
/     %script{:src => "js/triq.js"}
