%ul#timeline
  - @winery.vintages[0..5].each do |vintage|
    %li.work
      %input.radio.active{checked: "checked", name: "works", type: "radio", id: "timeline-#{vintage}"}/
      .relative
        %label{for: "timeline-#{vintage}"}= vintage.to_s.split("20").last
        %span.date= vintage
        %span.circle
      .content
        - @winery.wines_in_vintage(vintage).each do |wine|
          %p= link_to wine.name, wine
        

          