%ul#timeline
  - @winery.vintages.each do |vintage|
    %li.work
      %input.radio{checked: "checked", name: "works", type: "radio", id: "timeline-#{vintage}"}/
      .relative
        %label{for: "timeline-#{vintage}"} Lorem ipsum dolor sit amet
        %span.date= vintage
        %span.circle
      .content
        - @winery.wines_in_vintage(vintage).each do |wine|
          %p= wine.name