%ul.ca-menu.unstyled
  %li.review
    %a{ "data-toggle" => "modal", :href => "#reviewModal#{wine.id}", :role => "button"}
      %span.ca-icon#icon-pencil
        %i.icon-pencil
      .ca-content
        %h2.ca-main blooch
        %h3.ca-sub your tasting notes

  = render partial: 'review_modal', object: wine, as: 'wine'