.row
  .small-offset-1.large-offset-2
    .small-10.columns
      .text-right
        %h1 
          = @winery.name
          | edit
      .row
      = render 'form'

      = link_to 'Show', @winery
      \|
      = link_to 'Back', wineries_path
