.name h1 { 
  font-family: "Yesteryear";
  padding-left: 50px;
}

.top-bar-section ul li > a {
  font-family: "Open Sans Condensed",Helvetica,sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.uppercase {
  text-transform: uppercase;
}

.oldstandardtt {
  font-family: "Old Standard TT",Helvetica,sans-serif;
}

.ptserif { 
  font-family: "PT Serif", serif;
}

.lato { 
  font-family: "Lato", sans-serif;
}

.categories { 
  // font-family: "Indie Flower", cursive;
  // font-family: "Rock Salt", cursive;
  font-family: "Nothing You Could Do", cursive;
}

.rock-salt { 
  font-family: "Rock Salt", cursive;
}

.nothing-you-could-do {
  font-family: "Nothing You Could Do", cursive;
}