.name h1 { 
  font-family: "Yesteryear";
  padding-left: 50px;
}

.top-bar-section ul li > a {
  font-family: "Open Sans Condensed",Helvetica,sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px;
  

}