<p>Hi -- I'm Fred from Bloocher.  If you'd like to set up an account, start by confirming your account email through the link below:</p>

<p><%= link_to 'Confirm my account', confirmation_url(@resource, :confirmation_token => @resource.confirmation_token) %></p>

If you have any questions, or advice on how I can make Bloocher even more awesome, just hit reply.

Thanks!

<p>-- Fred
