%nav.top-bar{"data-topbar" => ""}
  %ul.title-area
    %li.name
      %h1.categories
        / %a{href: "#"} Bloocher
        = link_to "Bloocher", root_url, class: "categories"
    %li.toggle-topbar.menu-icon
      %a{href: "#"}
        %span Menu
  %section.top-bar-section
    = render 'nav_links'
    